.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.parent {
  text-align: center;
  color: black;
  /* width: calc(100vw - 35px); */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.child {
  display: inline-block;
  /* height: calc(100vh - 150px); */

  height: 100vh;
  vertical-align: middle;
}

.sidebar {
  width: 20%;
  float: left;
  background-color: white;
  color: black;
  font-size: 40px;
}

.button {
  padding: 20px;
  background-color: lightgray;
  margin-top: 200px;
  margin-right: 50px;

  margin-left: 50px;
}



.title {
  top: 150px;
}

.map {
  float: left;
  width: 80%;
  border-radius: 0px;
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


h1 {
  font-family: 'Space Mono', monospace;
  font-size: 35px;
  color: black;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin-bottom: 150px;
  margin-top: 50px;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  margin-bottom: 70px;
  transition: 0.3s;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);

}

h2:hover {
  transform: scale(1.2);
}

h2.button:hover {
  transform: scale(1.1);
}